@CHARSET "UTF-8";

.w3-theme-l5 {color:#000 !important; background-color:#f2fcf6 !important}
.w3-theme-l4 {color:#000 !important; background-color:#d5f5e2 !important}
.w3-theme-l3 {color:#000 !important; background-color:#aaecc6 !important}
.w3-theme-l2 {color:#000 !important; background-color:#80e2a9 !important}
.w3-theme-l1 {color:#000 !important; background-color:#55d98c !important}
.w3-theme-d1 {color:#fff !important; background-color:#2ab765 !important}
.w3-theme-d2 {color:#fff !important; background-color:#25a359 !important}
.w3-theme-d3 {color:#fff !important; background-color:#208f4e !important}
.w3-theme-d4 {color:#fff !important; background-color:#1c7a43 !important}
.w3-theme-d5 {color:#fff !important; background-color:#176638 !important}

.w3-theme-light {color:#000 !important; background-color:#f2fcf6 !important}
.w3-theme-dark {color:#fff !important; background-color:#176638 !important}
.w3-theme-action {color:#fff !important; background-color:#176638 !important}

.w3-theme {color:#fff !important; background-color:#2ecc71 !important}
.w3-text-theme {color:#2ecc71 !important}
.w3-theme-border {border-color:#2ecc71 !important}
.w3-hover-theme:hover {color:#fff !important; background-color:#2ecc71 !important}


.arrow_box {
	position: relative;
	background: #aaecc6;
	border: 3px solid #262c30;
	width: 80%;
	margin: 50px 10px;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(170, 236, 198, 0);
	border-bottom-color: #aaecc6;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(38, 44, 48, 0);
	border-bottom-color: #262c30;
	border-width: 34px;
	margin-left: -34px;
}